{% extends 'base.html' %}
{% block title %} Certificates {% endblock %}
{% block page_content %}
    <ul class="certificates">
        {% for certificate in certificates %}
        <li class="certificate">
            <button type="button" class="collapsible">{{ certificate.name }} - {{ certificate.date|date:"M Y" }}</button>
            <div class="content">
                <p class="certificate-validity">
                    Check validity <a href="{{ certificate.validity }}">HERE</a>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}