{% extends 'base.html' %}
{% block title %} Contacts {% endblock %}
{% block page_content %}
      <article class="contacts">
        <h2 class="contacts-title">You can find me at:</h2>
        <ul class="contacts-items">
          <li class="contacts-item">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <i class="fa-solid fa-envelope fa-1x"> Gmail: d.andreev1994@gmail.com</i>
          </li>
          <!-- <li class="contacts-item">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <i class="fa-brands fa-linkedin fa-1x"> Linkedin: </i>
          </li> -->
          <li class="contacts-item">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <i class="fa-brands fa-discord fa-1x"> Discord: Sealeet#0960</i>
          </li>
          <li class="contacts-item">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <i class="fa-brands fa-github fa-1x"> GitHub: dandr94</i>
          </li>
        </ul>
      </article>
{% endblock %}