{% extends 'base.html' %}
{% block title %} Contacts {% endblock %}
{% block page_content %}
    <article class="contacts">
        {% if contacts %}
        <h2 class="contacts-title">You can find me at:</h2>
        <ul class="contacts-items">
            {% for contact in contacts %}
                <li class="contacts-item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="{{ contact.icon_class_name }}"> {{ contact.name }}: </i>
                    <p class="contacts-item-p">{{ contact.value }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
         <h2 class="contacts-title">Contacts list is empty!</h2>
        {% endif %}
    </article>
{% endblock %}